<!DOCTYPE html>
<html>
    <head>
        <title>Promedio estudiante</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    </head>
    <body>
        <header>
                <h1> {{titulo}} </h1>
        </header>