<!DOCTYPE html>
<html>
    <head>
        <title>Promedio estudiante</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">     
        <link rel="stylesheet" href="/css/main.css"  type="text/css">   
    </head>
    <body class="main-body">
        <header>
                <h1> {{titulo}} </h1>
        </header>
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="inscribir">Inscribir</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="cursos">Cursos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="verInscritos">Ver inscritos</a>
        </li>
        </ul>